/* Your custom styles */

.green-a {
  color: #06522a!important;
}
.green-a:hover{
  color: #26681d!important;
}

.white-text {
    color: #ffffff!important;
}
.filtro{
  filter: brightness(65%)!important;
}
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  
  @media (max-width: 540px) {

    .mobile-button {
      margin: 150px;
    }
  }
